.ant-layout-footer {
    background: #052849;
    color: white;
    border-top: 1px solid #ddd;
    text-align: center;
}

.ant-tag {
    background: #fff !important;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}