.ant-layout-content {
    margin-left: 20px;
    margin-right: 20px;
    width: "100%";
}


.chartTitle {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    background: #fff;
    margin-bottom: 0;
}

.axis text {
    color: #ACB6C6;
}

.spinWrap_chart {
    margin-top: 60px;
    margin-left: 500px;
}
