.ant-layout-content {
    margin-left: 20px;
    margin-right: 20px;
}

.tableWrap {
    margin-top: 70px;
}

.ant-table-thead > tr > th {
    color: #566177;
}

.ant-table-thead > tr > th {
    background: #fff;
}